/* font-family: 'Dancing Script', cursive;
font-family: 'Forum', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif; */
/* body{
    
    
    
} */

h1{
    font-size: 98px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 15px;

}

/* .ui.cards{
  
   
   
    
} */

.ui.form{
    padding:10px;
    border:solid rgb(242, 237, 237);
    margin-top:18px;
    
  

}

.ui.button{
    text-align: center;
    
    left: 30%;
    background-color: cadetblue;
    /* position: absolute; */
}

.Maindiv{
  position: absolute;
  top:15%;
  left: 1.5%;
  /* transform: translate(-25% , 0%) */
    
}